KAFKA_SERVERS=kafka.local:9092
KAFKA_GROUP_ID=biblioteca-nestjs-dev-bge-m3
STS_SERVER=http://sts.local:11200
OLLAMA_SERVER=http://ollama.local:11434
MINI_MILVUS=zmeu.local:20112
TEXTBASE_URL=http://textbase.local:8080
